.container {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.game-area {
  position: absolute;
  height: 98vh;
  min-width: 600px;
  border: 1px solid blue;
  margin: 0 auto;
}

.bricks {
  display: flex;
  padding: 0;
  margin:0;
}
.brick {
  box-sizing: border-box;
  width: 90px;
  height: 25px;
  background-color: sandybrown;
  position: absolute;
}

.player {
  position: absolute;
  width: 90px;
  height: 25px;
  background-color: green;
  top: 500px;
}

.ball {
  width: 25px;
  height: 25px;
  background: blue;
  border-color: blue;;
  position: absolute;
  left: 40px;
  top: 100px;
}

.game-message {
  color: #ddd;
}